
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 5em;
    color: #E91E63;
}

p {
    font-size: 2em;
    color: black;
}

a {
    font-size: 1.5em;
    color: #3F51B5;
    text-decoration: none;
}

a:hover {
    color: #E91E63;
}
